{% extends 'base.html.twig' %}
{% block title %}Contact
{% endblock %}

{% block content %}

{{ include('front/flashes.html.twig') }}

	<div class="section-title-block text-center   ">
		<div class="section-title-wrapper">
			<h2 class="section-title">Contactez-moi</h2>
		</div>
	</div>
	<br>

	<form method="post" action="../public/index.php?url=sendMessage">
		<div class="form-group">
			<label for="yourName">Nom complet</label><br>
			<input class="form-control" type="text" id="yourName" name="yourName" placeholder="Votre nom complet"><br>
		</div>
		{% if errors.yourName %}
			<div class="alert alert-danger"> {{ errors.yourName }}
			</div>
		{% endif %}
		<div class="form-group">
			<label for="email">Adresse email</label><br>
			<input class="form-control" type="email" id="email" name="email" placeholder="Votre adresse email"><br>
		</div>
		{% if errors.email %}
			<div class="alert alert-danger"> {{ errors.email }}
			</div>
		{% endif %}
		<div class="form-group">
			<label for="subject">Objet</label><br>
			<input class="form-control" type="text" id="subject" name="subject" placeholder="Demande de renseignement"><br>
		</div>
		{% if errors.subject %}
			<div class="alert alert-danger"> {{ errors.subject }}
			</div>
		{% endif %}
		<div class="form-group">
			<label for="yourMessage">Votre message</label><br>
			<textarea class="form-control" id="yourMessage" name="yourMessage" placeholder="Message...">
			</textarea><br>
		</div>
		{% if errors.yourMessage %}
			<div class="alert alert-danger"> {{ errors.yourMessage }}
			</div>
		{% endif %}
		<input class="submit-btn" type="submit" value="ENVOYER" id="submit" name="submit">
	</form>

{% endblock %}
