{% if session.get('add_comment') %}
    <div class="alert alert-success">
        {{ session.show('add_comment') }}
    </div>
{% endif %}
{% if session.get('flag_comment') %}
    <div class="alert alert-warning">
        {{ session.show('flag_comment') }}
    </div>
{% endif %}
{% if session.get('valid_comment') %}
    <div class="alert alert-warning">
        {{ session.show('valid_comment') }}
    </div>
{% endif %}
{% if session.get('register') %}
    <div class="alert alert-success">
        {{ session.show('register') }}
    </div>
{% endif %}
{% if session.get('login') %}
    <div class="alert alert-success">
        {{ session.show('login') }}
    </div>
{% endif %}
{% if session.get('logout') %}
    <div class="alert alert-warning">
        {{ session.show('logout') }}
    </div>
{% endif %}
{% if session.get('delete_account') %}
    <div class="alert alert-success">
        {{ session.show('delete_account') }}
    </div>
{% endif %}
{% if session.get('error_search') %}
    <div class="alert alert-warning">
        {{ session.show('error_search') }}
    </div>
{% endif %}
{% if session.get('send_message') %}
    <div class="alert alert-success">
        {{ session.show('send_message') }}
    </div>
{% endif %}