{% set url = post and post.get('id') ? 'editComment' : 'addComment' %}
{% set submit = url is same as ('addComment') ? 'AJOUTER' : 'Mettre à jour' %}
<form method="post" action="../public/index.php?url={{ url }}&articleId={{ article.id }}">
    <div class="form-group">
        <label for="pseudo">Pseudo</label><br>
        <input class="form-control" type="text" id="pseudo" name="pseudo" value="{% if post %}{{ post.pseudo }}{% endif %}"><br>
    </div>
    {% if errors.pseudo %}
        <div class="alert alert-danger">
            {{ errors.pseudo }}
        </div>
    {% endif %}
    <div class="form-group">
        <label for="content">Message</label><br>
        <textarea class="form-control" id="content" name="content">{% if post %}{{ post.content }}{% endif %}</textarea><br>
    </div>
    {% if errors.content %}
        <div class="alert alert-danger">
            {{ errors.content }}
        </div>
    {% endif %}
    <input class="submit-btn" type="submit" value="{{ submit }}" id="submit" name="submit">
</form>