{% extends 'base_home.html.twig' %}
{% block title%}Accueil
{% endblock %}
{% block content %} {{ include('front/flashes.html.twig') }}

	<section class="blog-area section">
		<div class="row">
			{% for article in articles %}
				<div class="col-lg-4 col-md-6">
					<div class="card h-100">
						<div class="single-post post-style-1">

							<div class="blog-image"><img src={{ article.imgUrl }} alt="{{ article.title }}"></div>

							<a class="avatar"><img src="../public/images/blog_img.jpg" alt="Profile Image"></a>

							<div class="blog-info">

								<h4 class="title">
									<a href="../public/index.php?url=article&articleId={{ article.id }}">
										<b>{{ article.title }}</b>
									</a>
								</h4>
								<h5 class="title">
									<a href="../public/index.php?url=article&articleId={{ article.id }}">{{ article.chapo|slice(0, 250) }}
										...</a>
								</h5>

								<ul class="post-footer">
									<li>
										{% if article.updatedAt is not same as('NULL') %}
											<a>
												<i class="ion-clock"></i> {{article.updatedAt|date('d/m/Y')}}</a>
										{% else %}
											<a>
												<i class="ion-clock"></i> {{article.createdAt|date('d/m/Y')}}</a>
										{% endif %}
									</li>
									<li>
										<a>
											<i class="ion-person"></i> {{article.author}}</a>
									</li>
									<li>
										<a href="../public/index.php?url=article&articleId={{ article.id }}">
											<i class="ion-eye"></i> Lire plus ...</a>
									</li>	
								</ul>

							</div>
							<!-- blog-info -->
						</div>
						<!-- single-post -->
					</div>
					<!-- card -->
				</div>
				<!-- col-lg-4 col-md-6 -->
			{% endfor %}
			
		</div>
		<!-- row -->
		 {{ include('front/pagination.html.twig') }}
	</section>
	<!-- section -->

{% endblock %}
