{% extends 'base.html.twig' %} {% block title%}Accueil{% endblock %} {% block content %} {{ include('front/flashes.html.twig') }} {% for article in articles %}
<div>
    <h2><a href="../public/index.php?url=article&articleId={{ article.id }}">{{ article.title }}</a></h2>
    <p>{{ article.content }}</p>
    <p>{{ article.author }}</p>
    <p>Créé le : {{ article.createdAt }}</p>
</div>
<br> {% endfor %} {{ include('front/pagination.html.twig') }} {% endblock %}