{% extends 'base.html.twig' %}
{% block title %}Résultats de recherche
{% endblock %}

{% block content %}
    <h2>Résultats de recherche</h2>
    <br>
    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="article-tab" data-toggle="tab" href="#article" role="tab" aria-controls="article" aria-selected="true">
                Articles <span class="badge badge-secondary">{{ articles|length }}</span>
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="comment-tab" data-toggle="tab" href="#comment" role="tab" aria-controls="comment" aria-selected="false">
                Commentaires <span class="badge badge-secondary">{{ comments|length }}</span>
            </a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="article" role="tabpanel" aria-labelledby="article-tab">
            {% if articles|length > 0 %}
                {% for article in articles %}
                    <h4>{{ article.title }}</h4>
                    <p>{{ article.content|slice (0, 300) }}</p>
                    <hr>
                {% endfor %}
            {% else %}
                <p>Aucun résultat</p>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="comment" role="tabpanel" aria-labelledby="comment-tab">
            {% if comments|length > 0 %}
                {% for comment in comments %}
                    <h4>{{ comment.pseudo }}</h4>
                    <p>{{ comment.content|slice (0, 300) }}</p>
                {% endfor %}
            {% else %}
                <p>Aucun résultat</p>
            {% endif %}
        </div>
    </div>
{% endblock %}