{% extends 'base.html.twig' %}
{% block title %}Résultats de recherche
{% endblock %}

{% block content %}
    <h2>Résultats de recherche</h2>
    <br>
    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a cla  ss="nav-link active" id="article-tab" data-toggle="tab" role="tab" aria-controls="article" aria-selected="true">
                Articles <span class="badge-secundary">({{ articles|length }})</span>
            </a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="article" role="tabpanel" aria-labelledby="article-tab">
            {% if articles|length > 0 %}
                {% for article in articles %}
                    <a href="../public/index.php?url=article&articleId={{ article.id }}"><h4><b>{{ article.title }}</b></h4></a>
                    <p>{{ article.content|slice (0, 300) }} <a href="../public/index.php?url=article&articleId={{ article.id }}"> ... Lire plus</a></p> 
                    <hr>
                {% endfor %}
            {% else %}
                <p>Désolé, aucun résultat ne correspond à vos critères de recherche. Veuillez essayer à nouveau avec des mots clés différents.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}