{% extends 'base.html.twig' %}
{% block title %} {{ article.title }}
{% endblock %}


{% block content %}
	<section class="post-area section">
		<div class="container">

			<div class="row">

				<div class="col-lg-8 col-md-12 no-right-padding">

					<div class="main-post">

						<div class="blog-post-inner">

							<div class="post-info">

								<div class="left-area">
									<a class="avatar"><img src="../public/images/blog_img.jpg" alt="Profile Image"></a>
								</div>

								<div class="middle-area">
									<a class="name">
										<b>{{ article.author }}</b>
									</a>
									<h6 class="date">
										Creé: le {{ article.createdAt|date('d/M/Y H:m:s') }}
										| Modifié le: {{ article.updatedAt|date('d/M/Y H:m:s') }}</h6>
								</div>

							</div>
							<!-- post-info -->

							<h3 class="title">
								<b>{{ article.title }}</b>
							</h3>

							<h4 class="title">
								<b>{{ article.chapo }}</b>
							</h4>

							<p class="para">{{ article.content }}</p>


							<ul class="tags">

								<br>
								{# {% if session.get('role') is same as('admin') %}
																	<div class="actions">
																		<a class="btn btn-warning" href="../public/index.php?url=editArticle&articleId={{ article.id }}">Modifier</a>
																		<a class="btn btn-danger" href="../public/index.php?url=deleteArticle&articleId={{ article.id }}">Supprimer</a>
																	</div>
																	<br>
																{% endif %} #}
							</ul>
						</div>
						<!-- blog-post-inner -->

						<div class="post-icons-area">
							<ul class="post-icons">
								<li>
									{% if article.updatedAt is not same as('NULL') %}
										<a>
											<i class="ion-calendar"></i>
											Last update {{article.updatedAt|date('d M Y')}}</a>
									{% else %}
										<a>
											<i class="ion-clock"></i>
											Created {{article.createdAt|date('d/M/Y')}}</a>
									{% endif %}
								</li>

								<li>
									<a href="#commentaire">
										<i class="ion-chatbubble"></i> {{ comments|length }}</a>
								</li>
							</ul>

							<ul class="icons">
								<li>PARTAGER :
								</li>
								<li>
									<a href="https://www.facebook.com/sharer.php?{{
																														                    'u=' ~ share_url ~
																														                    '&picture=' ~ share_image ~
																														                    '&title=' ~ share_title ~
																														                    '&description=' ~ share_description
																														                }}" target="_blank">
										<i class="ion-social-facebook"></i>
									</a>
								</li>
								<li>
									<a href="https://twitter.com/share?{{
																				                    'text=' ~ share_title ~
																				                    '&url=' ~ share_url
																				                }}" target="_blank">
										<i class="ion-social-twitter"></i>
									</a>
								</li>
								<li>
									<a href="http://https://www.pinterest.fr/pin-builder/?{{
										                    'url=' ~ share_url ~
										                    '&title=' ~ share_title ~
										                    '&description=' ~ share_description ~
										                    '&image=' ~ share_image ~
										                    '&noparse=true'
										                }}" target="_blank">
										<i class="ion-social-pinterest"></i>
									</a>
								</li>
							</ul>
						</div>


						<div class="post-footer post-info">

							<div class="container">
								<h4>
									<b>COMMENTER</b>
								</h4>

								<div class="comment-form"> {{ include('front/form_comment.html.twig') }}
								</div>
								<!-- comment-form -->

								<h4>
									<b id="commentaire">COMMENTAIRES ({{ comments|length }})</b>
								</h4>

								<div class="commnets-area">
									{% if comments|length > 0 %}
										{% for comment in comments %}

											<div class="comment">

												<div class="post-info">

													<div class="left-area">
														<a class="avatar"><img src="../public/images/profile2.png" alt="Profile Image"></a>
													</div>

													<div class="middle-area">
														<a class="name">
															<b>{{ comment.pseudo }}</b>
														</a>
														<h6 class="date">le {{ comment.createdAt }}</h6>
													</div>

													<div class="right-area">
														<h5 class="reply-btn">
															{% if comment.flag %}
																<p>Déjà signalé</p>
															{% else %}
																<p>
																	<a class="btn btn-warning" href="../public/index.php?url=flagComment&commentId={{ comment.id }}">Signaler</a>
																</p>
															{% endif %}
														</h5>
													</div>

													<div class="right-area">
														<h5
															class="reply-btn">{#{% if session.get('role') is same as('admin') %}
																																																																																																<p>
																																																																																																	<a class="btn btn-danger" href="../public/index.php?url=deleteComment&commentId={{ comment.id }}">Supprimer</a>
																																																																																																</p>
																																																																																															{% endif %}"#}
														</h5>
													</div>

												</div>
												<!-- post-info -->

												<p>{{ comment.content }}</p>

											</div>
											<br>
										{% endfor %} {{ include('front/pagination.html.twig', {url: 'url=article&articleId=' ~ article.id ~ '&'}) }}
									{% else %}
										<p class="alert alert-warning">Aucun commentaire pour le moment</p>
									{% endif %}

								</div>
								<!-- commnets-area -->


							</div>
							<!-- container -->

						</div>
						<!-- post-info -->


					</div>
					<!-- main-post -->
				</div>
				<!-- col-lg-8 col-md-12 -->

				<div class="col-lg-4 col-md-12 no-left-padding">

					<div class="single-post info-area">

						<div class="sidebar-area about-area">
							<h4 class="title">
								<b>À PROPOS</b>
							</h4>
							<a><img src="../public/images/ednilson.jpg" alt="Profile Image"></a>
							<h5>

								Ednilson MENDES, Développeur d'application - PHP/Symfony</h5>
							<br>
							<ul>
								<li>
									- Analyser un cahier des charges et choisir une solution technique adaptée parmi les solutions existantes</li>
								<li>
									- Concevoir l’architecture technique d’une application à l’aide de diagrammes UML</li>
								<li>
									- Créer des projets web dynamiques grâce PHP
								</li>
								<li>
									- Communiquer avec une base de données pour stocker et requêter des informations
								</li>
								<li>
									- Développer de manière professionnelle grâce au framework Symfony
								</li>
								<li>
									- Mettre en oeuvre des tests unitaires et fonctionnels ainsi qu’utiliser les outils les plus connus d’intégration continue
								</li>
								<li>
									- Produire une documentation technique et fonctionnelle de l’application
								</li>
								<li>
									- Prendre en compte les problématiques de performance d’une application PHP
								</li>
							</ul>
							ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur
																																																																																																																																																																																              Ut enim ad minim veniam</p>
					</div>

					<div class="sidebar-area subscribe-area">

						<h4 class="title">
							<b>TÉLÉCHARGEZ MON CV</b>
						</h4>
						<a target="_blank" href="../public/pdf/cv.pdf">
							<i class="icon ion-ios-cloud-download"></i>
						</a>
					</div>
					<!-- subscribe-area -->


				</div>
				<!-- info-area -->

			</div>
			<!-- col-lg-4 col-md-12 -->

		</div>
		<!-- row -->

	</div>
	<!-- container -->
</section>
<!-- post-area -->


<section class="recomended-area section">
	<div class="container">
		<h3>Derniers articles</h3>
		<div class="row">

			{% for article in articlesLast3 %}
				<div class="col-lg-4 col-md-6">
					<div class="card h-100">
						<div class="single-post post-style-1">

							<div class="blog-image"><img src={{ article.imgUrl }} alt="{{ article.title }}"></div>

							<a class="avatar"><img src="../public/images/blog_img.jpg" alt="Profile Image"></a>

							<div class="blog-info">

								<h4 class="title">
									<a href="../public/index.php?url=article&articleId={{ article.id }}">
										<b>{{ article.title }}</b>
									</a>
								</h4>
								<h5 class="title">
									<a href="../public/index.php?url=article&articleId={{ article.id }}">{{ article.content|slice(0, 250) }}...</a>
								</h5>

								<ul class="post-footer">
									<li>
										{% if article.updatedAt is not same as('NULL') %}
											<a>
												<i class="ion-clock"></i> {{article.updatedAt|date('d/m/Y')}}</a>
										{% else %}
											<a>
												<i class="ion-clock"></i> {{article.createdAt|date('d/m/Y')}}</a>
										{% endif %}
									</li>
									<li>
										<a>
											<i class="ion-person"></i> {{article.author}}</a>
									</li>
									<li>
										<a href="../public/index.php?url=article&articleId={{ article.id }}">
											<i class="ion-eye"></i>
											Lire plus ...</a>
									</li>
								</ul>

							</div>
							<!-- blog-info -->
						</div>
						<!-- single-post -->
					</div>
					<!-- card -->
				</div>
				<!-- col-lg-4 col-md-6 -->
			{% endfor %}

		</div>
		<!-- row -->

	</div>
	<!-- container -->
</section>
<!-- section -->{% endblock %}
