{% set url = post and post.get('id') ? 'editArticle&articleId=' ~ post.get('id'): 'addArticle' %}
{% set submit = url is same as ('addArticle') ? 'Envoyer' : 'Mettre à jour' %}
<form method="post" action="../public/index.php?url={{ url }}">
    <div class="form-group">
        <label for="title">Titre</label><br>
        <input class="form-control" type="text" id="title" name="title" value="{% if post %}{{ post.get('title') }}{% endif %}"><br>
    </div>
    {% if errors.imgUrl %}
        <div class="alert alert-danger">
            {{ errors.imgUrl }}
        </div>
    {% endif %}
    <div class="form-group">
        <label for="title">Image article (url)</label><br>
        <input class="form-control" type="text" id="imgUrl" name="imgUrl" value="{% if post %}{{ post.get('imgUrl') }}{% endif %}"><br>
    </div>
    {% if errors.title %}
        <div class="alert alert-danger">
            {{ errors.title }}
        </div>
    {% endif %}    
    <div class="form-group">
        <label for="content">Chapô</label><br>
        <textarea class="form-control" id="chapo" name="chapo">{% if post %}{{ post.get('chapo') }}{% endif %}</textarea><br>
    </div>
    {% if errors.chapo %}
        <div class="alert alert-danger">
            {{ errors.chapo }}
        </div>
    {% endif %}
    <div class="form-group">
        <label for="content">Contenu</label><br>
        <textarea class="form-control" id="content" name="content">{% if post %}{{ post.get('content') }}{% endif %}</textarea><br>
    </div>
    {% if errors.content %}
        <div class="alert alert-danger">
            {{ errors.content }}
        </div>
    {% endif %}
    <input class="btn {% if submit is same as ('Mettre à jour')%}btn-warning{% else %}btn-success{% endif %}" type="submit" value="{{ submit }}" id="submit" name="submit">
</form>